{% extends "base.html" %}

{% block main %}
<!-- <h1 class="page-header">Project1 Starter Code</h1> -->
<div class="large">
    <div class="container">
    <h1 style="padding-top: 150px;"> Buy and Sell <br/>
    Cars Online</h1>
    <p class="lead">United Auto Sales provides the fastest, easiest and<br/>
    most user friendly way to buy or sell cars online. Find a<br/>
    Great Price on the Vehicle You Want.</p>
<div>
<button id="btnRegister" class="btn btn-blue" Style="width: 100px;" OnClick="btnSearch_Click" >Register</button>
<button id="btnLogin" class="btn btn-green" Style="width: 100px;" OnClick="btnClear_Click" >Login</button>
</div>
    </div>
    <div>
        <img id= "redCar" style= "padding-bottom: 20px;" src="{{ url_for('static', filename='imgs/car.jpg') }}" />
    </div>
    
    </div>
    </body>
    </html>
    
{% endblock %}
