{% extends "base.html" %}

{% block main %}
<h1 >Secure Page</h1>
<p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend massa purus, id tempus sem tempus id. In maximus nisl a odio sollicitudin pellentesque. Sed vel feugiat arcu. Morbi suscipit eu sapien non porttitor. Quisque sed arcu eget leo congue tincidunt vitae quis lacus. Nunc id leo posuere, molestie lacus et, accumsan eros. Mauris pharetra, nibh id pharetra consectetur, mauris magna iaculis metus, vel lobortis libero arcu eget urna. Vivamus suscipit velit eu turpis gravida consequat. Donec vehicula arcu sit amet quam imperdiet commodo. Etiam imperdiet nulla id tellus egestas vestibulum. Maecenas vitae lacus fringilla, vestibulum nunc at, gravida arcu. Maecenas in porttitor arcu. Etiam pulvinar est id nisi suscipit tincidunt sed eu lectus. Aliquam vel ligula mauris. Nam tempus sapien vel urna feugiat pulvinar vitae condimentum nisl.</p>
{% endblock %}
